<table align="center">
  <tr>
    <td>
      <h1 align="center">{{ title }}</h1>
    </td>
  </tr>
  <tr>
    <td align="center">
      <hr/>
    </td>
  </tr>
</table>

<table border="1" style="width:100%;text-align:center;background-color:white;" class="table table-bordered">
  <tr>
    <th width="250">Id</th>
    <th width="250">Nombre del titular</th>
    <th width="250">Número de tarjeta</th>
    <th width="250">Fecha de vencimiento</th>
  </tr>
  <tr ng-repeat="dato in datos">
    <td>{{ dato._id }}</td>
    <td>{{ dato.nombreTitular }}</td>
    <td>{{ dato.noTarjeta }}</td>
    <td>{{ dato.fExpedicion }}</td>
  </tr>
</table>
<br><br><br>
<form action ="/deleteTarjeta" method="post">
  <table align="center">
    <tr>
      <td width="100" height="50" align="center">
        <label for="label_id"> Introduzca el id de la tarjeta para eliminarla:</label>
      </td>
    </tr>
    <tr>
      <td width="100" height="50" align="center">
        <input id="label_id" type="text" name="id" style="height:30px;width:100;" placeholder="Id"/>  
      </td>
    </tr>
    <tr>
      <td width="100" height="50" align="center">
        <input type ="submit" value="Borrar" class="btn btn-primary btn-xl page-scroll" style="width:150px"/> 
      </td>
    </tr>
  </table>
</form>